<div class="principal-layout">

    <h1 class="titulo-layout">
        Titulo del Layout
    </h1>
    <div class="contenedor-cards">
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
        <div class="card">
            <img [src]="'assets/img/01.jpg'" class="imagen">
            <h1 class="titulo">Titulo</h1>
        </div>
    </div>
</div>
