<ng-container *ngIf="visible">

    <div class="month">
        <ul>
            <li class="prev" (click)="unMes('atras')">&#10094;</li>
            <li class="next" (click)="unMes('adelante')">&#10095;</li>
            <li>
                <span>{{mes}}</span> 
                <br>
                <span style="font-size:18px" (click)="seleccionarAnio(anio)">{{anio}}</span>
            </li>
        </ul>
    </div>
    
    <ul class="weekdays" *ngIf="nombresdiasmin.length>0">
        <li *ngFor="let dia of nombresdiasmin">{{dia}}</li>
    </ul>
    
    <ul class="days" *ngIf="dias.length>0">
        <li *ngFor="let dia of dias" (click)="cambiarDia(dia)">
            <span class="active" *ngIf="esHoy(dia.fecha)">{{dia.text}}</span> 
            <span class="select" *ngIf="dia.select">{{dia.text}}</span> 
            <span *ngIf="!dia.select && !esHoy(dia.fecha)">{{dia.text}}</span> 
        </li>
    </ul>
    <div class="anios" *ngIf="anios.length>0">
        <span *ngFor="let anio of anios;let i=index" (click)="seleccionarAnioV2(anio)">
            {{anio}}
          
            
            <!-- <span class="active" *ngIf="esHoy(dia.fecha)">{{dia.text}}</span> 
            <span class="select" *ngIf="dia.select">{{dia.text}}</span> 
            <span *ngIf="!dia.select && !esHoy(dia.fecha)">{{dia.text}}</span>  -->
        </span>
    </div>

    <button class="btn btn-danger button-calendar" (click)="cancel()" (blur)="ok()">CANCEL</button>
    <button class="btn btn-primary button-calendar" (click)="ok()" (blur)="ok()">OK</button>
</ng-container>