<mat-tab-group>

    <mat-tab label="Players">

      <app-card-table [headers]="headers" [body]="playeres" 
      (DelegateEditar)="Editar($event)"
      (DelegateEliminar)="Eliminar($event)"
      *ngIf="playeres.length > 0"></app-card-table>

    </mat-tab>

    <mat-tab label="Agregar Player">

        <div class="container-login100">
            <app-form [titleForm]="'Agregar Player'" [FormJson]="JSONForm" [reset]="resetPlayer" [NameButton]="'Registrar'" (DelegateEvent)="ValidateForm($event)"></app-form> 
        </div>
        <!--ng-template #showLoading>
            <app-loading></app-loading>
        </ng-template-->

    </mat-tab>




</mat-tab-group>