<!-- <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/01.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/02.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/03.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/06.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/02.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/03.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/04.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/05.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/06.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="bi bi-caret-left-fill size_ctrl" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="bi bi-caret-right-fill size_ctrl" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div> -->


  <!-- <div fxLayout="column wrap">
    <a>Example 1 : </a>
    <div class="myMatCarousel1">
      <mat-carousel timings="250ms ease-in"    [slides]="3"
        color="accent" 
        [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
        >
        <ng-container *ngIf="sliders.length > 0">

          <mat-carousel-slide #matCarouselSlide overlayColor="#00000020" *ngFor="let slider of sliders; let n = index">
            <div class="myMatCarouselSlide1" fxLayout="row wrap" fxLayoutAlign="center center" *ngFor="let item of slider ; let i = index">
              <mat-card fxFlex="25%" fxFlex.xs="90%"  class="myCard" fxLayoutAlign="center center" fxLayout="column wrap">
                <div class="imagePhotoContainer">
                  <img src="{{'/assets/img/0'+item.foto+'.jpg'}}" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
                </div> 
               
              </mat-card>
            </div>
          </mat-carousel-slide>
        </ng-container> -->
        <!-- <mat-carousel-slide #matCarouselSlide overlayColor="#00000020">
          <div class="myMatCarouselSlide1" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-card fxFlex="25%" fxFlex.xs="90%" *ngFor="let item of [4,5,6] ; let i = index" class="myCard" fxLayoutAlign="center center" fxLayout="column wrap">
              <div class="imagePhotoContainer">
                <img src="{{'/assets/img/0'+item+'.jpg'}}" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                
              </div> 
             
            </mat-card>
          </div>
        </mat-carousel-slide> -->
      <!-- </mat-carousel>
    </div> -->
  
    <!-- <div class="myMatCarousel2">
      <mat-carousel timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" [slides]="2" color="accent"
        [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="true"
        orientation="ltr">
        <mat-carousel-slide #matCarouselSlide overlayColor="#00000020">
          <div class="myMatCarouselSlide2" fxLayout="row wrap" fxLayoutAlign="center center">
            <ng-container *ngFor="let _ of [1,2,3,4] ; let i = index">
              <mat-card class="myCard" fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="column wrap">
                <img mat-card-image style="width: 80px; height: 80px" src="{{'/assets/img/02.jpg'}}">
                <a>Card Display {{i+1}}</a>
              </mat-card>
            </ng-container>
          </div>
        </mat-carousel-slide>
        <mat-carousel-slide #matCarouselSlide overlayColor="#00000020">
          <div class="myMatCarouselSlide2" fxLayout="row wrap" fxLayoutAlign="center center">
            <ng-container *ngFor="let _ of [1,2,3,4] ; let i = index">
              <mat-card class="myCard" fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="column wrap">
                <img mat-card-image style="width: 80px; height: 80px" src="{{'/assets/img/03.jpg'}}">
                <a>Card Display {{i+5}}</a>
              </mat-card>
            </ng-container>
          </div>
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </div> -->
<div [class]="tipoImagen" style="width:100%;background-color: black;padding: 1em;height:auto;padding-right:0!important">
  <ng-image-slider [images]="imageObject" #nav [infinite]="true" [imageSize]="{width: 200, height: 200, space: 3}"></ng-image-slider>
</div>