<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/01.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/02.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/03.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/06.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/02.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/03.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/04.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/05.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
              <div class="imagePhotoContainer">
                  <img src="./../../../assets/img/06.jpg" style="width:100%;height:100%;border-radius:50%;background-size:cover">
                  
              </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="bi bi-caret-left-fill size_ctrl" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="bi bi-caret-right-fill size_ctrl" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
