.toolbarUzSport {
    flex-flow: row wrap;
    display: flex;
}
@font-face {
    font-family: uz_sport;
    src: url(../assets/fonts/ZXJRTY+bangwhackpow.ttf) format("opentype");
  }
  *{
    font-family: uz_sport;
  }
  .fa{
    font-family: 'FontAwesome'!important;
  }