<!-- <div style="width:100%;    height: 250px;background-color:black;">
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
</div> -->
<!-- <app-carousels [tipoImagen]="'circle-image'"></app-carousels> -->
<app-card-info-torneo></app-card-info-torneo>
<!-- <app-galery [GaleryImages]="[{src:'assets/img/01.jpg'},{src:'assets/img/02.jpg'},{src:'assets/img/03.jpg'},{src:'assets/img/04.jpg'},{src:'assets/img/05.jpg'},{src:'assets/img/06.jpg'},{src:'assets/img/01.jpg'},{src:'assets/img/02.jpg'},{src:'assets/img/03.jpg'},{src:'assets/img/04.jpg'},{src:'assets/img/05.jpg'},{src:'assets/img/06.jpg'}]"  
></app-galery> -->
<!-- <app-layout-cards-flex></app-layout-cards-flex> -->

<!-- <app-card-league [League]="{
    IdUsuario:'0',
    NameLeague:'LIGA TNB',
Description:'Liga familiar en Viveros de Coyoacán ·Explota tu pasión”',
Status:true,
Like:998,
Id:'0'
}"></app-card-league> -->
<!--ul>
    <li class="text" *ngFor="let item of Items | async">
        {{item | json}}
    </li>
</ul>

<div class="row">
    <div class="col-6">EDDY</div>
    <div class="col-6">ANA</div>
</div-->