<p>home works!</p>

<!-- <div style="width:100%;    height: 250px;background-color:black;">
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
    <div style="    width: 12em;
    height: 12em;display: inline-block;margin:3%;border-radius:50%;background-color:white"></div>
</div> -->
<app-carousels></app-carousels>

<!--ul>
    <li class="text" *ngFor="let item of Items | async">
        {{item | json}}
    </li>
</ul>

<div class="row">
    <div class="col-6">EDDY</div>
    <div class="col-6">ANA</div>
</div-->