<div class="row">
    <div class="col-2 text-center">
        Thunder
    </div>
    <div class="col-8 text-center">
        <div>
            {{ pointsTeam1 }} - {{ pointsTeam2 }}
        </div>
        <div>
            {{ QuarterTime}} Quarter Time
        </div>
    </div>
    <div class="col-2 text-center">
        Lakers
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        Fouls
    </div>
    <div class="col-6 text-center">
        Fouls
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        <i class="bi bi-flag-fill" style="color: red" *ngIf="alertFoulTeam1"></i>
        <app-count-foul *ngFor="let f1 of foulsTeam1" [foul]="f1"></app-count-foul>
    </div>
    <div class="col-6 text-center">
        <i class="bi bi-flag-fill" style="color: red" *ngIf="alertFoulTeam2"></i>
        <app-count-foul *ngFor="let f2 of foulsTeam2" [foul]="f2"></app-count-foul>
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        <p>Points</p><button mat-raised-button (click)="addPoints(point.Value, 1)" *ngFor="let point of pointsBTNS">
            + {{ point.Value }}
        </button>
    </div>
    <div class="col-6 text-center">
        <p>Points</p><button mat-raised-button (click)="addPoints(point.Value, 2)" *ngFor="let point of pointsBTNS">
            + {{ point.Value }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col-4 text-center">
        <p>Fouls</p><button mat-raised-button (click)="addFouls(1)">
            +1
        </button>
    </div>
    <div class="col-4 text-center">
        <button mat-raised-button (click)="StartGame()">
            Start Game
        </button>
    </div>
    <div class="col-4 text-center">
        <p>Fouls</p><button mat-raised-button (click)="addFouls(2)">
            +1
        </button>
    </div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        {{ counterQuarter | formatTimer }}
    </div>
    <div class="col-4"></div>
</div>